<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="#">Trang chủ</a></li>
                    <li role="presentation"><a href="#">Thông báo</a></li>
                    <li role="presentation"><a href="#">Tài liệu</a></li>
                    <li role="presentation"><a href="#">Cài đặt</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h2>Danh sách sinh viên</h2>
        <p><label for="">Xin chào: </label><a href="#">Logout</a></p>
        <form action="/department/list" method="get" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Nhập mã sinh viên hoặc tên đầy đủ" autofocus />
            </div>
            <button type="submit" class="btn btn-default">Tìm kiếm</button>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Giới Tính</th>
                    <th>Địa Chỉ</th>
                    <th style="width: 98px;">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${students}">
                    <td th:text="${item.studentId}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${#dates.format(item.dateOfBirth, 'dd/MM/yyyy')}"></td>
                    <td th:text="${item.gender ? 'Nam' : 'Nữ'}"></td>
                    <td th:text="${item.address}"></td>
                    <td style="text-align: center;">
                        <a class="btn btn-info btn-sm" th:href="@{'/department/desStudent/' + ${item.studentId}}">Xem</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
